#css_info {
	background-color: #BB0000;
  color: #FFFFFF;
}

#aspect_ratio:after {
	content: "layout: square landscape";
}

#sidebar {
  width: 10%;
  min-width: 10%;
  height: 100%;
  min-height: 100%;
}

#main {
  top: 0;
  left: 10%;
  width: 90%;
  min-width: 90%;
  height: 100%;
  min-height: 100%;
}
