#css_info {
	background-color: #330000;
	color: #FFFFFF;
}

#aspect_ratio:after {
	content: "layout: wide landscape";
}

#sidebar {
  width: 30%;
  min-width: 30%;
  height: 100%;
  min-height: 100%;
}

#main {
  top: 0;
  left: 30%;
  width: 70%;
  min-width: 70%;
  height: 100%;
  min-height: 100%;
}
