 /*
@media only screen and (orientation: portrait) {

	html, body {
		min-width: 752px;
	}
	
	#content {
		width: 742px;
		height: 806px;
		min-height: 806px;
	}

	#_masthead {
		width: 742px;
		height: 200px;
	}
	
	#nav {
		top: 0px;
		left: 248px;
	}
	
	#title {
		margin-bottom: 1em;
	}
	
	#dimensions {
		top: 50px;
		left: 248px;
	}
}

@media only screen and (orientation: landscape) {

	html, body {
		min-width: 982px;
	}
	
	#content {
		width: 942px;
		height: 606px;
		min-height: 606px;
	}
	
	#_masthead {
		width: 200px;
		height: 606px;
	}
	
	#nav {
		top: 152px;
		left: 0px;
	}
	
	#title {
		margin-bottom: 0px;
	}
	
	#dimensions {
		top: 276px;
		left: 0px;
	}
}
*/
/*

@media only screen and (max-width: 320px) {

	#masthead {
		width: 200px;
		height: 120px;
	}
	
	#masthead {
		padding: 16px;
	}
	
	#masthead h1 {
		font-size: 16px;
	}
	
	#masthead h2 {
		font-size: 14px;
	}
	
	#masthead h3 {
		font-size: 12px;
	}
	
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
	
	#thumbnails {
		left: 0px;
		top:  120px;
	}
	
	#title:after {
		content: "<= 320, portrait"
	}
}

@media only screen and (max-width: 320px) and (orientation: landscape) {
	
	#thumbnails {
		left: 200px;
		top:  0px;
	}
	
	#title:after {
		content: "<= 320, landscape"
	}
}

@media only screen and (min-width: 321px) and (max-width: 640px) {

	#masthead {
		width: 260px;
		height: 160px;
	}
	
	#masthead {
		padding: 24px;
	}
	
	#masthead h1 {
		font-size: 24px;
	}
	
	#masthead h2 {
		font-size: 18px;
	}
	
	#masthead h3 {
		font-size: 16px;
	}
	
}

@media only screen and (min-width: 321px) and (max-width: 640px) and (orientation: portrait) {
	
	#thumbnails {
		left: 0px;
		top:  160px;
	}
	
	#title:after {
		content: "321-640, portrait"
	}
}

@media only screen and (min-width: 321px) and (max-width: 640px) and (orientation: landscape) {
	
	#thumbnails {
		left: 260px;
		top:  0px;
	}
	
	#title:after {
		content: "321-640, landscape"
	}
}

@media only screen and (min-width: 641px) and (max-width: 1280px) {

	#masthead {
		width: 320px;
		height: 210px;
	}
	
	#masthead {
		padding: 32px;
	}
	
	#masthead h1 {
		font-size: 32px;
	}
	
	#masthead h2 {
		font-size: 24px;
	}
	
	#masthead h3 {
		font-size: 18px;
	}
}

@media only screen and (min-width: 641px) and (max-width: 1280px) and (orientation: portrait) {
	
	#thumbnails {
		left: 0px;
		top:  210px;
	}
	
	#title:after {
		content: "641-1280, portrait"
	}
}

@media only screen and (min-width: 641px) and (max-width: 1280px) and (orientation: landscape) {
	
	#thumbnails {
		left: 320px;
		top:  0px;
	}
	
	#title:after {
		content: "641-1280, landscape"
	}
}

@media only screen and (min-width: 1281px) {

	#masthead {
		width: 360px;
		height: 250px;
	}
		
	#masthead {
		padding: 36px;
	}
	
	#masthead h1 {
		font-size: 36px;
	}
	
	#masthead h2 {
		font-size: 30px;
	}
	
	#masthead h3 {
		font-size: 24px;
	}
	
}

@media only screen and (min-width: 1281px) and (orientation: portrait) {
	
	#thumbnails {
		left: 0px;
		top:  250px;
	}
	
	#title:after {
		content: "> 1280, portrait"
	}
	
}

@media only screen and (min-width: 1281px) and (orientation: landscape) {
	
	#thumbnails {
		left: 360px;
		top:  0px;
	}
	
	#title:after {
		content: "> 1280, landscape"
	}
}

@media only screen and (max-width: 320px) {
	
	.thumbnail {
		width: 90%
	}
	
}

@media only screen and (min-width: 321px) and (max-width: 480px) {

	.thumbnail {
		width: 40%;
	}
	
}

@media only screen and (min-width: 481px) and (max-width: 640px) {

	.thumbnail {
		width: 28%;
	}
	
}

@media only screen and (min-width: 641px) and (max-width: 960px) {

	.thumbnail {
		width: 22%;
	}
	
}

@media only screen and (min-width: 961px) and (max-width: 1280px) {

	.thumbnail {
		width: 14%;
	}
	
}

@media only screen and (min-width: 1281px) {
	
	.thumbnail {
		width: 10%;
	}
}

.thumbnail {
	width: 1.62in;
}

*/