html, body {
	height: 100%;
	width: 100%;
}

body {
	position: relative;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	color: #000000;
}

#sidebar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 256px;
	height: 100%;
	min-height: 100%;
	background-color: #FF8888;
}

#content {
	position: absolute;
	top: 0px;
	left: 256px;
	width: 768px;
	height: 100%;
	min-height: 100%;
	background-color: #8888FF;
}

.thumb {
	float: left;
	width: 128px;
	height: 24.739583333333333333333333333333%;
	margin-bottom: 0.26041666666666666666666666666667%;
	margin-right: 0px;
	background-color: #88FF88;
}

#masthead {
	display: fixed;
	width: 350px;
	height: 134px;
	margin: 0px;
	padding: 32px;
}

#masthead h1, #masthead h2, #masthead h3 {
	line-height: 100%;
}

#masthead h1 {
	font-size: 32px;
}

#masthead h2 {
	margin: 1em 0px;
	font-size: 24px;
}

#masthead h3 {
	font-size: 18px;
}

#filters {
	display: none;
}

.filter {
	display: none;
}

#thumbnails {
	position: absolute;
	top: 0px;
	left: 350px;
	margin: 0px;
	padding: 10px 0px 0px 10px;
}

#thumbnails ul {
	padding-bottom: 40px;
}
.thumbnail {
	float: left;
	margin: 2px;
	padding: 0px;
	width: 18%;
	background: #CCCCCC;
}

.thumbnail img {
	visibility: hidden;
	margin: 0px;
	padding: 0px;
	width:100%;	
}

#spacer {
	float: left;
	clear: both;
	width: 100%
	height: 40px;
	
}

#copyright {
	float: left;
	clear: both;
	color: #888888;
	font-size: 10px;
	margin: 10px;
}
