html, body {
	height: 100%;
	width: 100%;
	min-width: 982px;
}

body {
	position: relative;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	color: #000000;
}

#content {
	width: 942px;
	height: 606px;
	min-height: 606px;
	margin: 20px auto;
	padding: 0px;
}

#masthead {
	position: relative;
	float: left;
	width: 200px;
	height: 606px;
	margin: 0px auto;
	padding: 0px;
}

#masthead h1, #masthead h2, #masthead h3 {
	line-height: 100%;
}

#masthead h1 {
	font-size: 32px;
}

#masthead h2 {
	font-size: 24px;
	color: #888888;
}

#life, #work {
	width: 100px;
	float: left;
	margin: 0px auto;
}

#nav {
	position: absolute;
	top: 152px;
	left: 0px;
}

#title {
	position: absolute;
	bottom: 0px;
	left: 0px;	
}

#masthead h3 {
	font-size: 18px;
	color: #888888;
}

#filters {
	display: none;
}

.filter {
	display: none;
}

#thumbnails {
	float: left;
	margin: 0px auto;
	padding: 0px;
	width: 742px;
	height: 606px;
}

#thumbnails ul {
	
}

.thumbnail {
	float: left;
	margin: 0px 2px 2px 0px;
	padding: 0px;
	width: 122px;
	height: 150px;
	background: #CCCCCC;
}

.thumbnail img {
	visibility: visible;
	margin: 0px;
	padding: 0px;	
	border: none;
	width: 100%;
	height: 100%;	
}

#copyright {
	float: right;
	clear: both;
	color: #888888;
	font-size: 10px;
	margin: 5px;
	padding: 0px;
}
