html, body {
	height: 100%;
	width: 100%;
	min-width: 982px;
}

body {
	position: relative;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	color: #000000;
}

#masthead {
	position: absolute;
	min-width: 200px;
	min-height: 200px;
}

#div_b {
	position: absolute;
	min-width: 200px;
	min-height: 200px;
}

#div_c {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	position: relative;
}

#div_b li {
	background-color: #FFFFFF;
	float: left;
	width: 100px;
	height: 162px;
	min-height: 162px;
	margin: 0px 2px 2px 0px;
}

#content {
	display: none;
	position: relative;
	width: 942px;
	height: 606px;
	min-height: 606px;
	margin: 0px auto;
	padding: 0px;
}

#_masthead {
	position: relative;
	float: left;
	width: 200px;
	height: 606px;
	margin: 0px auto;
	padding: 0px;
}

#masthead h1, #masthead h2, #masthead h3 {
	line-height: 100%;
	letter-spacing: 0.2em;
}

#name a {
	text-decoration: none;
	color: #000000;	
}

#masthead h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 2em;
}

#masthead h2 {
	font-size: 20px;
	color: #888888;
}

#life, #work {
	float: left;
	text-align: left;
	margin-right: 40px;
}

#nav {
	position: absolute;
	top: 297px;
	left: 0px;
	width: 100%;
	min-width: 100%;
}

#masthead .selected h2 {
	color: #000000;
}

.navHover {
	cursor: pointer;
}

#masthead .navHover h2 {
	color: #000000;
}

#title {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#dimensions {
	position: absolute;
	top: 276px;
	left: 0px;
}

#masthead h3 {
	font-size: 18px;
	line-height: 24px;
	color: #888888;
}

#filters {
	display: none;
}

.filter {
	display: none;
}

#thumbnails {
	float: left;
	margin: 0px auto;
	padding: 0px;
	width: 742px;
	height: 606px;
}

#thumbnails ul {

}

.thumbnail {
	float: left;
	margin: 0px 2px 2px 0px;
	padding: 0px;
	width: 122px;
	height: 150px;
	background: #FFFFFF;
}

.thumbnail img {
	display: block;
	visibility: visible;
	margin: 0px;
	padding: 0px;
	border: none;
	width: 100%;
	height: 100%;
}

#copyright {
	display: none;
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: #888888;
	font-size: 10px;
}

#filter {
	display: none;
	position: absolute;
	top: 337px;
	left: 100px;
	font-size: 20px;
	width: 162px;
}

#filter select, #filter input {
	width: 158px;
	margin-bottom: 1em;
	padding: 1px;
	color: #333333;
	border: 1px solid #DDDDDD;
	background-color: #FFFFFF;
}

#filter input[type = "submit"] {
	width: 72px;
	margin-left: 40px;
	margin-right: 40px;
	font-weight: bold;
	border-color: #333333;
	background-color: #DDDDDD;
}
