<div id="css_info" class="compressed">
	<p>query min height:  <span id="query_min_height"></span></p>
	<p>query min width:  <span id="query_min_width"></span></p>
	<hr>
  <p>query max height:  <span id="query_max_height"></span></p>
  <p>query max width:  <span id="query_max_width"></span></p>
	<p id="layout_info"></p>
	<hr>
	<p>dimensions:  <span id="dimensions">&lt; Click for Info &gt;</span></p>
	<p>aspect ratio:  <span id="aspect_ratio">&lt; Click for Info &gt;</span></p>
</div>