<div id="masthead"> 
	<div id="name">
		<h1>Jackie Goldberg</h1>
	</div> 
	<div id="call_to_action">
		<h2>Call to Action</h2>
	</div> 
	<div id="title">
    	<h3>Featured Portfolio</h3>
	</div> 
</div>