<div id="masthead"> 
	<div id="name">
		<h1>Jackie Goldberg</h1>
	</div> 
	<div id="nav">
		<%= render "nav" %>
	</div> 
	<div id="title">
    	<h3>Featured Work</h3>
	</div> 
	<div id="dimensions"></div>
</div>