<li class="thumbnail">
	<a title="<%= path %>" href="<%= item_path(123) %>" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
		<img alt="<%= path %>" src="<%= image_path(path) %>">
	</a>
</li>