<li class="thumbnail">
	<a title="<%= thumbnail %>" href="<%= thumbnail_path(123) %>" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
		<img alt="<%= thumbnail %>" src="<%= image_path(thumbnail) %>">
	</a>
</li>