<% content_for :head do %>
	<link rel="stylesheet" type="text/css" href="<%= stylesheet_path("mobile") %>" >
	<%= javascript_include_tag "mobile" %>
<% end %>

<div id="work" data-role="page"> 
	<div  data-role="header">Jackie Goldberg</div> 
	<div  data-role="content">
		<ul>
			<% 	gray = false
				@items.each do |item|
					gray = !gray %>
					<li class="<%= gray ? "gray" : "" %>"></li>
			<% 	end %>
		</ul>
	</div> 
	<!--<div  data-role="footer">Footer</div>--> 
</div>